.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group#date_group_id
        = @group.name     
      %ul.main-header__left-box__member-list
        %p Member : 
        %li.main-header__left-box__member-list__member#user_id
          - @group.users.each do |user|
            =user.name
    .main-header__edit-btn
      =link_to 'edit', edit_group_path(@group), class:"edit"
 
  .message-list
    = render @messages
   
  .message-form
    .message-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'